<header class="bg-white p-1 w-full animate-fade-in">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <img
      src="/images/Honeywell_logo.svg"
      alt="app logo"
      class="max-h-12 transition-transform duration-700 ease-in-out hover:scale-105 animate-slide-in-left"
    />
    <span class="text-2xl font-bold text-blue-400 my-2 animate-slide-in-down">Kody konfiguracyjne</span>
    <div class="flex gap-3 items-center animate-slide-in-right">
      @if (fullName) {
        <span class="text-blue-400 font-bold px-5 py-2">{{ fullName }}</span>
        <button (click)="logout.emit()"
          class="ml-2 text-center text-blue-400 px-5 py-2 rounded border font-bold border-blue-400 hover:bg-blue-400 hover:text-white hover:shadow-blue-glow transition-all duration-300"
        >
          LOGOUT
        </button>
      } @else {
        <button 
          routerLink="/login"
          class="text-center text-blue-400 px-5 py-2 rounded border font-bold border-blue-400 hover:bg-blue-400 hover:text-white hover:shadow-blue-glow transition-all duration-300"
        >
          LOGIN
        </button>
      }
    </div>
  </div>
</header>
<header class="bg-blue-400 p-1 w-full animate-fade-in">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <nav class="flex gap-6 my-2 uppercase text-lg font-semibold text-white animate-slide-in-down">
      <a
        routerLink="/placeholder"
        routerLinkActive="text-yellow-300 border-yellow-300"
        class="text-white transition-colors duration-300 border-b-2 border-transparent hover:border-white pb-0"
        >Placeholder</a
      >
    </nav>
  </div>
</header>