<h2 class="qr-codes-title">{{ 'QR_CODES.SCAN_TITLE' | translate }}</h2>

<div class="qr-codes-container">
  <div class="qr-code-item">
    <img src="http://localhost:80/photos/honeywell-qr-codes/barcode1.png" alt="QR Code 1" />
    <p>{{ 'QR_CODES.FIRST' | translate }}</p>
  </div>
  <div class="qr-code-item">
    <img src="http://localhost:80/photos/honeywell-qr-codes/barcode2.png" alt="QR Code 2" />
    <p>{{ 'QR_CODES.SECOND' | translate }}</p>
  </div>
  <div class="qr-code-item">
    <img src="http://localhost:80/photos/honeywell-qr-codes/barcode3.png" alt="QR Code 3" />
    <p>{{ 'QR_CODES.THIRD' | translate }}</p>
  </div>
  <div class="qr-code-item">
    <img src="http://localhost:80/photos/honeywell-qr-codes/barcode4.png" alt="QR Code 4" />
    <p>{{ 'QR_CODES.FOURTH' | translate }}</p>
  </div>
</div>

<button class="export-btn" (click)="exportQRCodesToPDF()">{{ 'QR_CODES.EXPORT_BTN' | translate }}</button>
